<h1>Edit Todo</h1>

<%= @error %>

<%= form_with model: @todo do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.label :collaborator_ids, 'Collaborators' %>
    <%= form.collection_check_boxes(:collaborator_ids, User.where.not(id: current_user.id), :id, :email) do |cb| %>
      <div class="checkbox">
        <%= cb.check_box %>
        <%= cb.label %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<li><%= link_to 'Todos List', todos_path(@todos)%></li>